.elements {
  max-width: 880px;
  margin: 0 auto;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  gap: 20px 17px;
  font-family: 'Inter', 'Arial', sans-serif;
}

@media screen and (max-width: 925px) {
  .elements {
    grid-template: repeat(3, 1fr) / repeat(2, 300px);
    justify-items: center;
    justify-content: center;
    gap: 25px 25px;
  }
}

@media screen and (max-width: 660px) {
  .elements {
    gap: 25px 10px;
  }
}

@media screen and (max-width: 630px) {
  .elements {
    grid-template: repeat(6, 1fr) / repeat(1, 300px);
    row-gap: 20px;
  }
}