.header__link {
	padding-top: 6px;
	text-decoration: none;
	color: #ffffff;
	font-family: 'Inter';
	font-size: 18px;
	line-height: 22px;
	transition: all 0.2s ease-in-out;
}

.header__link:hover {
	opacity: 0.6;
}
