.element__delete-btn {
	display: none;
	position: absolute;
	top: 20px;
	right: 20px;
	width: 18px;
	height: 19px;
	border: none;
	background: none;
	background-image: url('../../../images/Trash.svg');
	background-repeat: no-repeat;
	background-position: center;
	color: #ffffff;
	cursor: pointer;
}

.element__delete-btn:hover {
	opacity: 0.6;
}
