.footer {
  max-width: 880px;
  margin: 68px auto 60px;
  color: #545454;
  font-family: 'Inter', 'Arial', sans-serif;
}

@media screen and (max-width: 445px) {
  .footer {
    margin: 51px auto 36px;
  }
}