.popup__input-error {
  position: absolute;
  max-width: 358px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: #FF0000;
  margin: 5px 0 0 36px;
}

.popup__input-error:nth-of-type(1) {
  top: 134px;
} 

.popup__input-error:nth-of-type(2) {
  top: 193px;
}

@media screen and (max-width: 460px) {
  .popup__input-error {
    max-width: 238px;
    margin: 5px 0 0 22px;
    font-size: 10px;
  }

  .popup__input-error:nth-of-type(1) {
    top: 146px;
  } 
  
  .popup__input-error:nth-of-type(2) {
    top: 203px;
  }
}