.profile__job {
  margin: 8px 0 0 0;
  font-size: 18px;
  line-height: 1.21;
  max-height: 150px;
}

@media screen and (max-width: 720px) {
  .profile__job {
    margin-left: -38px;
    text-align: center;
  }
}

@media screen and (max-width: 445px) {
  .profile__job {
    margin-top: 12px;
    font-size: 14px;
  }
}